html {
    height: 100%;
}

body {
    min-height: 100%;
    background-attachment: fixed; /* This keeps the background fixed during scrolling */
}
.bn3 {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
  }
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8; /* Off-white background for contrast with green */
    color: #333333; /* Dark grey for text for readability */
    min-height: 100%;
    background-attachment: fixed;
    background-size: cover;
}
.header {
    background-color: #548f2d; /* Change to your preferred color */
}
.nav-bar {
    background-color: #333; /* Dark grey background */
    text-align: center;
    padding: 0.5rem 0;
}

.nav-bar a {
    display: inline-block;
    color: #f2f2f2;
    padding: 0.5em 1.7em;
    margin: 0 0.1em;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    border: 0.16em solid rgba(255, 255, 255, 0); /* Invisible border */
    border-radius: 2em;
    transition: all 0.2s;
}

.nav-bar a:hover, .nav-bar a:active {
    background-color: #708238; /* Olive green for hover states */
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0); /* Maintain invisible border */
}
body {
    background-image: url('../images/fotbal.png'); /* Updated relative path */
    background-size: cover;
    background-position: center;
}
.title-button {
    display: inline-block;
    background-color: transparent; /* Adjust as needed */
    color: #FFFFFF; /* Adjust text color as needed */
    text-decoration: none;
    padding: 0.5em 1.2em; /* Adjust padding as needed */
    font-family: "Roboto", sans-serif; /* Adjust font family as needed */
    font-size: 35px; /* Adjust font size as needed */
    font-weight: bold;
}
.games-list {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap between cards as needed */
}
.game-card {
    background-color: rgba(255, 255, 255, 0.4); /* 60% transparent white */
    color: #000000; /* Change text color for better visibility */
    padding: 20px;
    border: 4px solid #333; /* Thick black outline */
    border-radius: 50px; /* Optional: for rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: for a subtle shadow */
    width: 70%; /* Set the width to 80% */
    margin: 0 auto; /* Center the element horizontally */
}

.game-card:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
    background-color: rgba(255, 255, 255, 0.6); /* Increase transparency on hover */
}

.game-date {
    background: #548f2d;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.teams {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.team {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.team-logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.vs {
    font-weight: bold;
    font-size: 24px; /* Adjust the font size as needed */
    align-items: center;
}

input[type="date"] {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="date"]:hover {
    border-color: #888;
}

/* Style the Apply Filters button */
button#apply-filters {
    background-color: #548f2d; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#apply-filters:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* You can also add styles for focus to improve accessibility */
button#apply-filters:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(76,175,80, 0.5); /* Adds a focus outline */
}

.team-name, .score {
    margin-right: 100px; /* Adds space to the right of the team name and score */
}

/* Adjusting for the away team to add space before the score since it comes before the name */
.away-team .score {
    margin-right: 100px;
    margin-left: 10px; /* Adds space to the left of the score for the away team */
}

.score {
    color: #ffffff; /* White color for the score */
    background-color: #444; /* Darker background for the score element */
    padding: 5px 10px; /* Add some padding around the score */
    border-radius: 5px; /* Optional: adds rounded corners for a pill-like effect */
    margin: 0 5px; /* Ensures spacing around the score for separation */
}

.team-name {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adjust shadow color and spread to fit your design */
    font-family: 'Roboto', sans-serif; /* This is just an example; choose what fits your design */
    font-size: 20px; /* Increase the font size for better readability */
    font-weight: 600; /* A bolder font weight makes text stand out */
}

@media (max-width: 768px) {
    .team-name, .score, .vs {
        font-size: calc(14px + 1vw); /* Smaller base size for smaller screens */
    }

    .teams {
        flex-direction: column; /* Stacks team information vertically on small screens */
    }
}

#timeline-section h3 {
    margin-bottom: 10px;
}

.timeline-event .event-details {
    background-color: #f9f9f9; /* Light background for each event */
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
}

.event-time, .team-name, .event-name {
    font-weight: bold;
}

.team-name {
    margin-right: 10px;
}

.right-buttons {
    float: right;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .profile-content {
    display: none; /* Hidden by default, toggled by JavaScript */
    position: fixed; /* Make it float above other content */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Align center */
    width: 80%; /* Responsive width */
    max-width: 500px; /* Max width for larger screens */
    padding: 20px;
    background-color: #ffffff; /* Bright background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow */
    z-index: 1000; /* Ensure it's on top of other content */
}

.profile-container {
    margin: 0 auto; /* Centering form */
    width: 90%; /* Responsive width */
}

.form-group {
    margin-bottom: 20px; /* Space between form elements */
}

.profile-container h2 {
    text-align: center;
    color: #333; /* Dark text for visibility */
}

.profile-container label {
    display: block;
    color: #666; /* Grey text */
}

.profile-container input {
    width: 100%; /* Full width */
    padding: 8px;
    margin-top: 5px; /* Space between label and input */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 4px; /* Rounded borders for inputs */
}

.save-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}